body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(231, 166, 166, 0.479)
}

#calculator{
    height: 500px;
    width: 350px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

#row1, #row2, #row3, #row4, #row5 {
    background-color: rgb(142, 143, 167);   
}
