body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(177, 120, 39, 0.616)

}

#calculator{
    height: 500px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    border: 1px black solid;
}

#displayValue{
    width: 350px;
}

#equal, #clear, #backspace {
    width: 116px;
}

.calculatorButton, .calculatorButtonOperatorArray {
    width: 70px;
}